.page-home {
    padding-top: 0;
}

.games-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
	padding: 10vh;
	background-color: #777;
}

.games-container {
	display: flex;
    flex-direction: row;
	gap: 1rem;
}

.game {
  width: 20rem;
  aspect-ratio: 1 / 2;
  transform: skew(-10deg);
  background-size: cover;
  background-position: center;
  background-color: #555;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.games-wrapper h1 + .games-container {
    margin-top: 10vh;
}

/* .carousel-wrapper inside the global styles.css */
.carousel-wrapper + .games-wrapper {
    margin-top: 10vh;
}

h1{
    align-self: flex-start;
    color: whitesmoke;
    font-size: 3rem;
}

@media (max-width: 950px) {
    h1{
        align-self: auto;
    }
}