.page-heading{
    text-align: center;
    padding: 4rem;
    background-color: grey;
    color: whitesmoke;;
    font-weight: bold;
}

#team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1vw;
}

.card {
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.card ul {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

.card ul li a {
    font-size: 1.2rem;
}


@media (max-width: 1200px) {
    #team {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    #team {
        grid-template-columns: 1fr;
        padding: 0.5rem;
    }
}
